<!-- filter bar -->
<div class="container">
  <div class="row">
    <div class="col-md-4 form-group">
      <input class="form-control" placeholder="Filter..." ng-model="filterText"/>
    </div>
  </div>
</div>


<!-- table of people -->
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <dir-pagination-controls template-url="views/common/pagination.html" pagination-id="people"></dir-pagination-controls>

      <ul>
        <li dir-paginate="person in people | filter:filterText | itemsPerPage: 15" pagination-id="people">

          <div class="people-list-header">
            <person-list-header person="person"></person-list-header>
          </div>
          <div class="">
            <person-list-collapse person="person"></person-list-collapse>
          </div>

        </li>
      </ul>

      <dir-pagination-controls template-url="views/common/pagination.html" pagination-id="people"></dir-pagination-controls>
      
    </div>
  </div>
</div>
