<!-- filter bar -->
<div class="container row">
  <div class="col s4">
    <input class="input-field" placeholder="Filter..." ng-model="filterText"/>
  </div>

</div>


<!-- table of people -->
<div class="container row col s12">

  <ul class="collapsible popout" data-collapsible="accordion">
    <li ng-repeat="person in people | filter:filterText">

      <div class="collapsible-header">
        <i class="fa fa-male" ng-if=" person.gender == 'M' "></i>
        <i class="fa fa-female" ng-if=" person.gender == 'F' "></i>
        {{ person.last_name }}, {{ person.first_name }} {{ person.middle_name }}
        ({{ person.birth_year }} - {{ person.death_year }} {{ person.gender }})
      </div>
      <div class="collapsible-body">
        <person-popout person="person"></person-popout>
        <!-- <table>
          <tbody>
            <tr>
              <td>Relation to Grandpa: {{ person.relation_to_grandpa }}</td>
              <td>Born: {{ person.birth_year }} / {{ person.birth_month }} / {{ person.birth_day }} in {{ person.birth_place }}</td>
              <td>Died: {{ person.death_year }} / {{ person.death_month }} / {{ person.death_day }}</td>
            </tr>
          </tbody>
        </table> -->
      </div>

    </li>
  </ul>

</div>

<script>
  $(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  });
</script>
