
<div class="container">

  <!-- Name -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="header">
        {{ person.full_name }}
      </h2>
    </div>
  </div>

  <!-- Basic info -->
  <div class="row">
    <div class="col-md-12">

      <person-list-collapse person="person"></person>

    </div>
  </div>

  <!-- Parents -->
  <div class="row">
    <div class="col-md-11 col-md-offset-1">

      <h4 class="header">Parents</h4>
      <ul>
        <li ng-repeat="person in person.Parents">

          <div class="people-list-header">
            <person-list-header person="person"></person-list-header>
          </div>
          <div class="">
            <person-list-collapse person="person"></person-list-collapse>
          </div>

        </li>
      </ul>

      <div class="form-inline">
        <div class="form-group">
          <label for="parent_name">Parent Name</label>
          <input
             type="text"
             id="parent_name"
             class="form-control"
             ng-model="parent"
             uib-typeahead="person as person.full_name for person in people | filter:$viewValue | limitTo:5"
             typeahead-template-url="/views/common/typeahead.html"
             typeahead-focus-first="false">
       </div>
        <button class="btn btn-default" ng-click="addParent(parent)">
          <span class="glyphicon glyphicon-plus"></span> add
        </button>
      </div>


    </div>
  </div>

  <!-- Children -->
  <div class="row">
    <div class="col-md-11 col-md-offset-1">

      <h4 class="header">Children</h4>
      <ul>
        <li ng-repeat="person in person.Children">

          <div class="people-list-header">
            <person-list-header person="person"></person-list-header>
          </div>
          <div class="">
            <person-list-collapse person="person"></person-list-collapse>
          </div>

        </li>
      </ul>

      <div class="form-inline">
        <div class="form-group">
          <label for="child_name">Child Name</label>
          <input
             type="text"
             id="child_name"
             class="form-control"
             ng-model="child"
             uib-typeahead="person as person.full_name for person in people | filter:$viewValue | limitTo:5"
             typeahead-template-url="/views/common/typeahead.html"
             typeahead-focus-first="false">
         </div>
        <button class="btn btn-default" ng-click="addChild(child)">
          <span class="glyphicon glyphicon-plus"></span> add
        </button>
      </div>

    </div>
  </div>

</div>
