<div class="row person-popout-box">
  <div class="col s12">

    <!-- Name -->
    <div class="row">
      <div class="col s1">
        <h5 class="form-category">Name</h5>
      </div>
      <div class="input-field col s4">
        <input id="first_name_{{ person.id }}" type="text" class="validate" ng-model="person.first_name" ng-change="update(person)">
        <label for="first_name_{{ person.id }}" class="active">First Name</label>
      </div>
      <div class="input-field col s2">
        <input id="middle_name_{{ person.id }}" type="text" class="validate" ng-model="person.middle_name" ng-change="update(person)">
        <label for="middle_name_{{ person.id }}" class="active">Middle Name</label>
      </div>
      <div class="input-field col s4">
        <input id="last_name_{{ person.id }}" type="text" class="validate" ng-model="person.last_name" ng-change="update(person)">
        <label for="last_name_{{ person.id }}" class="active">Last Name</label>
      </div>
      <div class="input-field col s1">
        <input id="suffix_{{ person.id }}" type="text" class="validate" ng-model="person.suffix" ng-change="update(person)">
        <label for="suffix_{{ person.id }}" class="active">Suffix</label>
      </div>
    </div>

    <!-- Dates -->
    <div class="row">
      <div class="col s1 form-category">
        <h5 class="form-category">Dates</h5>
      </div>
      <!-- Born -->
      <div class="input-field col s2">
        <input id="birth_year_{{ person.id }}" type="text" class="validate" ng-model="person.birth_year" ng-change="update(person)" length="4">
        <label for="birth_year_{{ person.id }}" class="active">Born - Year</label>
      </div>
      <div class="input-field col s1">
        <input id="birth_month_{{ person.id }}" type="text" class="validate" ng-model="person.birth_month" ng-change="update(person)" length="2">
        <label for="birth_month_{{ person.id }}" class="active">Month</label>
      </div>
      <div class="input-field col s1">
        <input id="birth_day_{{ person.id }}" type="text" class="validate" ng-model="person.birth_day" ng-change="update(person)" length="2">
        <label for="birth_day_{{ person.id }}" class="active">Day</label>
      </div>
      <!-- Spacer -->
      <div class="col s3">&nbsp;</div>
      <!-- Died -->
      <div class="input-field col s2">
        <input id="death_year_{{ person.id }}" type="text" class="validate" ng-model="person.death_year" ng-change="update(person)" length="4">
        <label for="death_year_{{ person.id }}" class="active">Died - Year</label>
      </div>
      <div class="input-field col s1">
        <input id="death_month_{{ person.id }}" type="text" class="validate" ng-model="person.death_month" ng-change="update(person)" length="2">
        <label for="death_month_{{ person.id }}" class="active">Month</label>
      </div>
      <div class="input-field col s1">
        <input id="death_day_{{ person.id }}" type="text" class="validate" ng-model="person.death_day" ng-change="update(person)" length="2">
        <label for="death_day_{{ person.id }}" class="active">Day</label>
      </div>
    </div>

    <!-- Locations -->
    <div class="row">
      <div class="col s1 form-category">
        <h5 class="form-category">Born</h5>
      </div>
      <!-- Born -->
      <div class="input-field col s4">
        <input id="birth_location_{{ person.id }}" type="text" class="validate" ng-model="person.birth_location" ng-change="update(person)">
        <label for="birth_location_{{ person.id }}" class="active">Born</label>
      </div>
      <!-- Spacer -->
      <div class="col s1"></div>
      <!-- Settled -->
      <div class="input-field col s3">
        <input id="settle_location_{{ person.id }}" type="text" class="validate" ng-model="person.settle_location" ng-change="update(person)">
        <label for="settle_location_{{ person.id }}" class="active">Settled</label>
      </div>
      <!-- Spacer -->
      <div class="col s1"></div>
      <!-- Died -->
      <div class="input-field col s4">
        <input id="death_location_{{ person.id }}" type="text" class="validate" ng-model="person.birth_location" ng-change="update(person)">
        <label for="death_location_{{ person.id }}" class="active">Died</label>
      </div>
    </div>

    <!-- Notes -->
    <div class="row">
      <div class="col s1 form-category">
        <h5 class="form-category">Notes</h5>
      </div>
      <div class="input-field col s11">
        <input id="relation_to_grandpa_{{ person.id }}" type="text" class="validate" ng-model="person.relation_to_grandpa" ng-change="update(person)">
        <label for="relation_to_grandpa_{{ person.id }}" class="active">Relation to Grandpa</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s11 offset-s1">
        <textarea id="notes_{{ person.id }}" type="text" class="materialize-textarea" ng-model="person.notes" ng-change="update(person)"></textarea>
        <label for="notes_{{ person.id }}" class="active">Notes</label>
      </div>
    </div>

  </div>
</div>
