<!-- filter bar -->
<div class="container">
  <div class="row">
    <div class="col-md-5 form-group">
      <br /><input class="form-control input-lg" placeholder="Filter..." ng-model="filterText"/>
    </div>
  </div>
</div>


<!-- table of people -->
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <people-list people="people | filter:filterText" type="'all'" paginate="true" num-per-page="25" pagination-id="'people-pages'"></people-list>

    </div>
  </div>
</div>
