<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><strong>{{ details.title }}</strong> ({{ details.year }})</h3>
    <button type="button" class="btn btn-xs btn-default" ng-click="removeMilestone()">
      <i class="fa fa-times-circle" aria-hidden="true"></i>
      remove
    </button>
  </div>
  <div class="panel-body">
    <textarea type="text" class="form-control" ng-model="details.description" ng-change="update(details)" rows="5"></textarea>

    <!-- {{ details.description }} -->

    <hr />

    <!-- list of people associated with this milestone -->
    <people-list people="details.MilestonePeople" type="'milestone'" remove-fn="removePerson" paginate="false"></people-list>

    <!-- add a person to this milestone -->
    <div class="form-inline" ng-if="people">
      <div class="form-group">
        <label for="person_name">Person Name</label>
        <input
           type="text"
           id="person_name"
           class="form-control"
           style="width: 300px"
           ng-model="person"
           uib-typeahead="person as person.identifier for person in people | filter:{identifier:$viewValue} | limitTo:10"
           typeahead-template-url="/views/common/typeahead.html"
           typeahead-focus-first="false">
     </div>
      <button class="btn btn-default" ng-click="addPerson(person)">
        <span class="glyphicon glyphicon-plus"></span> add to milestone
      </button>

    </div>
  </div>
</div>
