<dir-pagination-controls ng-if="paginate" template-url="common/pagination/pagination.html" pagination-id="paginationId"></dir-pagination-controls>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default" dir-paginate="person in people | itemsPerPage: numPerPage" pagination-id="paginationId">

    <!-- Header -->
    <div class="panel-heading person-list-panel person-list-header"
         id="#person-heading-{{ person.id }}"
         role="tab"
         aria-expanded="false">
      <span class="person-name">
        <a ui-sref="person({ personId: person.id })">{{ person.identifier }}</a>
      </span>
      <span class="person-location">
        <span ng-if="person.primary_location"> | {{ person.primary_location }}</span>
      </span>
      <span class="">
        <button type="button" class="btn btn-xs btn-default"
                data-toggle="collapse"
                data-target="#person-collapse-{{ person.id }}">
          <i class="fa fa-pencil" aria-hidden="true"></i>
          quick edit
        </button>
        <button type="button" class="btn btn-xs btn-default" ng-click="removeRelation(person)">
          <i class="fa fa-minus" aria-hidden="true"></i>
          remove relation
        </button>
      </span>
    </div>

    <!-- Collapsable body -->
    <div class="panel-collapse collapse"
         id="person-collapse-{{ person.id }}"
         role="tabpanel">
      <div class="panel-body">
        <person-list-collapse person="person"></person-list-collapse>
      </div>
    </div>

  </div>
</div>

<dir-pagination-controls ng-if="paginate" template-url="common/pagination/pagination.html" pagination-id="paginationId"></dir-pagination-controls>
