<div class="floating-header">

  <h3>{{ pageTitle }}</h3>

  <!-- Select starting person -->
  <div class="input-group">
    <span class="input-group-addon">
      Start with
    </span>
    <input
    type="text"
    id="starting_person"
    class="form-control"
    placeholder="(starting person)"
    ng-model="startingPerson"
    uib-typeahead="person as person.identifier for person in people | filter:{identifier:$viewValue} | limitTo:10"
    typeahead-template-url="/common/typeahead/typeahead.html"
    typeahead-focus-first="false">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="button" ng-click="selectStartingPerson(startingPerson)">
        <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> update
      </button>
    </span>
  </div>
  <!-- Change chart types -->
  <div ng-if="treeType === 'ancestor' && startingPerson.id">
    <h4><small>
      Switch to <a ui-sref="descendantTreeChart({ startingId: startingPerson.id })">descendants</a>
    </small></h4>
  </div>
  <div ng-if="treeType === 'descendant' && startingPerson.id">
    <h4><small>
      Switch to <a ui-sref="ancestorTreeChart({ startingId: startingPerson.id })">ancestors</a>
    </small></h4>
  </div>
</div>

<!-- chart -->
<tree-chart data="treeData"></tree-chart>
