.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: #FF0000;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

h3 {
  margin-bottom: 20px;
}

.floating-header {
  float: left;
  left: 10px;
  position: absolute;
  top: 63px;
  background-color: $lighten-7;

  .input-group {
    max-width: 500px;
  }
}
