<!-- Name -->
<div class="container">
  <div class="row">
    <h2 class="header">
      {{ person.identifier }}
    </h2>
    <hr />
  </div>
</div>

<div class="container">
  <uib-tabset active="activePill" type="pills">

    <!-- Basic info -->
    <uib-tab index="0" heading="Biography">
      <div class="row">
        <div class="col-md-12">

          <person-list-collapse person="person" edittable="edittable"></person-list-collapse>

        </div>
      </div>
    </uib-tab>

    <!-- Relatives -->
    <uib-tab index="1" heading="Relatives">

      <!-- Parents -->
      <div class="row">
        <div class="col-md-12">
          <div class="relative-type" data-toggle="collapse" data-target="#collapseParents" aria-expanded="true" aria-controls="collapseParents" role="button">
            <h3>Parents</h3>
          </div>

          <div class="panel-collapse collapse in" id="collapseParents" role="tabpanel">

            <people-list people="person.Parents" person="person" edittable="edittable" paginate="false"></people-list>

            <div class="form-inline" ng-if="edittable">
              <div class="form-group">
                <label for="parent_name">Parent Name</label>
                <input
                   type="text"
                   id="parent_name"
                   class="form-control"
                   style="width: 300px"
                   ng-model="parent"
                   uib-typeahead="person as person.identifier for person in people | filter:{identifier:$viewValue} | limitTo:10"
                   typeahead-template-url="common/typeahead/typeahead.html"
                   typeahead-focus-first="false">
             </div>
              <button class="btn btn-default" ng-click="addParent(parent)">
                <span class="glyphicon glyphicon-plus"></span> add
              </button>
            </div>

          </div>

          <hr />
        </div>
      </div>

      <!-- Spouses -->
      <div class="row">
        <div class="col-md-12">
          <div class="relative-type" data-toggle="collapse" data-target="#collapseSpouses" aria-expanded="true" aria-controls="collapseSpouses" role="button">
            <h3>Spouses</h3>
          </div>

          <div class="panel-collapse collapse in" id="collapseSpouses" role="tabpanel">

            <people-list people="person.Spouses" person="person" edittable="edittable" type="'spouses'" paginate="false"></people-list>

            <div class="form-inline" ng-if="edittable">
              <div class="form-group">
                <label for="spouse_name">Spouse Name</label>
                <input
                   type="text"
                   id="spouse_name"
                   class="form-control"
                   style="width: 300px"
                   ng-model="spouse"
                   uib-typeahead="person as person.identifier for person in people | filter:{identifier:$viewValue} | limitTo:10"
                   typeahead-template-url="/common/typeahead/typeahead.html"
                   typeahead-focus-first="false">
             </div>
              <button class="btn btn-default" ng-click="addSpouse(spouse)">
                <span class="glyphicon glyphicon-plus"></span> add
              </button>
            </div>

          </div>

          <hr />
        </div>
      </div>

      <!-- Children -->
      <div class="row" style="margin-bottom: 500px;"> <!-- extra spacing due to Child typeahead -->
        <div class="col-md-12">
          <div class="relative-type" data-toggle="collapse" data-target="#collapseChildren" aria-expanded="true" aria-controls="collapseChildren" role="button">
            <h3>Children</h3>
          </div>

          <div class="panel-collapse collapse in" id="collapseChildren" role="tabpanel">

            <people-list people="person.Children" person="person" edittable="edittable" paginate="false"></people-list>

            <div class="form-inline" ng-if="edittable">
              <div class="form-group">
                <label for="child_name">Child Name</label>
                <input
                   type="text"
                   id="child_name"
                   class="form-control"
                   style="width: 300px"
                   ng-model="child"
                   uib-typeahead="person as person.identifier for person in people | filter:{identifier:$viewValue} | limitTo:10"
                   typeahead-template-url="/common/typeahead/typeahead.html"
                   typeahead-focus-first="false">
               </div>
              <button class="btn btn-default" ng-click="addChild(child)">
                <span class="glyphicon glyphicon-plus"></span> add
              </button>
            </div>

          </div>

        </div>
      </div>
    </uib-tab>

    <!-- Milestones -->
    <uib-tab index="2" heading="Milestones" ng-if="person.milestones">
      <div class="row">
        <div class="col-md-12">

          <div ng-repeat="milestone in person.milestones | orderBy:'year'">
            <milestone details="milestone"></milestone>
          </div>

        </div>
      </div>
    </uib-tab>

    <!-- Charts -->
    <uib-tab index="3" heading="Charts">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-offset-2 col-xs-8">
          <div class="btn-group-vertical" role="group" style="width:100%">
            <button type="button" class="btn btn-lg btn-default" style="width:100%" ui-sref="ancestorTreeChart({ startingId: person.id })">
              <i class="fa fa-level-up" aria-hidden="true"></i> Ancestors tree
            </button>
            <button type="button" class="btn btn-lg btn-default" style="width:100%" ui-sref="descendantTreeChart({ startingId: person.id })">
              <i class="fa fa-level-down" aria-hidden="true"></i> Descendants tree
            </button>
          </div>
        </div>
      </div>
    </uib-tab>

  </uib-tabset>
</div>
