* {
  box-sizing: border-box;
}

body {
  background: #FFFFFF;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

nav {
  @extend .green, .lighten-1;
}

.collapsible-body {
  @extend .grey, .lighten-4;
}

$roboto-font-path: "/materialize-css/fonts/roboto/";

@import 'materialize/materialize';
@import 'home';
@import 'people';
