* {
  box-sizing: border-box;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

html {
  font-weight: 300;
}

body {
  background: #fff;
  margin-top: 53px;
}

.logo {
  height: 100%;
}

.header {
  font-weight: 300;
}

@import 'bootstrap-customize';
@import 'navbar';
@import 'people';
@import 'milestones';
@import 'typeahead';
@import 'tabs';
@import 'charts/index';
@import 'fonts/roboto';
@import 'fonts/font-awesome';
