* {
  box-sizing: border-box;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

html {
  font-weight: 300;
}

body {
  background: #FFFFFF;
}

.navbar-brand {
  font-weight: 300;
}

#main {
  margin-top: 70px;
  margin-bottom: 100px;
}

.header {
  font-weight: 300;
}

@import 'bootstrap-customize';
@import 'people';
@import 'charts/index';
