milestone {
  .panel-heading {
    h3 {
      display: inline-block;
    }

    button {
      display: none;
    }

    &:hover {
      button {
        display: inline;
      }
    }
  }

  textarea {
    height: 4rem;
  }
}
