person-list-collapse {
  .person-popout-box {
    padding: 10px;
  }
  .form-category {
    font-size: 18px;
    font-weight: 300;
  }
  .row {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}

person-list-header {
  .person-name {
    font-weight: 500;
  }
  .person-location {
    font-style: italic;
  }
}
