.person-list-panel {
  cursor: pointer;
}

// person-list-collapse {
//   .row {
//     margin-bottom: 0;
//     padding-bottom: 0;
//   }
// }

.person-list-header {
  .person-name {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.75;
  }

  .person-location {
    font-style: italic;
  }

  button {
    display: none;
  }

  &:hover {
    button {
      display: inline;
    }
  }
}

.relative-type {
  width: 100%;
  background-color: rgba(0,0,0,.075);
  padding: 8px 15px;
  margin: 0 0 20px;
  border-radius: 4px;
  border: 4px;
  border-bottom-style: solid;
  border-bottom-color: #337ab7;

  h3 {
    line-height: normal;
    margin: 0;
  }
}
