.person-list-panel {
  cursor: pointer;
}

person-list-collapse {
  .form-category {
    font-size: 18px;
    font-weight: 300;
  }
  .row {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}

.person-list-header {
  .person-name {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.75;
  }
  .person-location {
    font-style: italic;
  }
  button {
    display: none;
  }
  &:hover {
    button {
      display:inline;
    }
  }
}
