<!DOCTYPE html>
<html lang="en">
<head>
  <base href="/" />
  <title>The Lincolns</title>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="/materialize-css/dist/js/materialize.min.js"></script>
  <script src="/angular/angular.js"></script>
  <script src="/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/angular-utils-pagination/dirPagination.js"></script>
  <script src="/socket.io-client/socket.io.js"></script>
  <script src="/main.js"></script>
</head>
<body ng-app="HeritageTree">
  <navbar></navbar>
  <div id="main" ui-view></div>
</body>
</html>
